DATABASE_URL="postgres://avnadmin:<password>@pg-183bbc44-mddocs.k.aivencloud.com:25896/defaultdb?sslmode=require"
NEXTAUTH_SECRET="your-secret-key-here-min-32-chars"
NEXTAUTH_URL="https://your-domain.com"
